<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuickMind - SignUp Success</title>
  <%- include('../_shared/stylesheets') %>
  <link rel="stylesheet" href="/stylesheets/default.css">
</head>
<body>
  <div class="container-fluid h-100 position-relative">
    <main class="h-100 p-3">
      <div class="h-100 d-flex flex-column justify-content-center">
        <div class="row justify-content-center">

          <div class="col-3 px-3 py-2 rounded-3 border text-center">
            <div class="my-5">
              <h1 class="text-center mb-3 fs-3 fw-bold">
                Sign Up Successful!
              </h1>
              <p class="text-muted">Thank you for signing up to QuickMind.</p>
            </div>
            <div class="my-4">
              <a href="/auth/signin" class="btn btn-primary w-100">Go to Sign In</a>
            </div>
          </div>

        </div>
      </div>
    </main>
  </div>
</body>
</html>