<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuickMind - Index</title>
  <%- include('_shared/stylesheets') %>
  <link href="//cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/default.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <div class="container-fluid h-100 position-relative">
    <main class="h-100 p-3">
      <div class="h-100 d-flex flex-column justify-content-center">
        <h1 class="text-center mb-3">
          <i class="fa-solid fa-feather"></i> QuickMind
        </h1>
        <div class="text-center mb-3">
          <a href="/notes" class="btn btn-outline-secondary border-0 me-2">Sign In</a>
          <a href="/auth/signup" class="btn btn-outline-secondary">Sign Up</a>
        </div>
      </div>
    </main>
  </div>
  <div class="d-none">
    <%- include('_shared/javascripts') %>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script>
      const quill = new Quill('#editor', { theme: 'snow' });
    </script>
  </div>
</body>
</html>