<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 - サーバーエラー</title>
  <%- include('../_shared/stylesheets') %>
  <link rel="stylesheet" href="/stylesheets/default.css">
</head>
<body>
  <div class="container-fluid h-100 position-relative">
    <main class="h-100 p-3 d-flex flex-column justify-content-center">

      <div class="row justify-content-md-center">
        <div class="col-4">
          <h1 class="display-1">500</h1>
          <h2 class="mb-4">Internal Server Error</h2>
          <p class="mb-4">申し訳ありませんが、現在リクエストを処理できません。後でもう一度お試しください。</p>
          <a href="/" class="btn btn-outline-secondary">ホームに戻る</a>
        </div>
      </div>

    </main>
  </div>
</body>
</html>